
.site-header{
    background-color: white;
}

.pointer{
    cursor: pointer;
    font-weight: bold;
}

.deal-heading{
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-img-top{
  height: 400px;
  width: 100%;
}

.flex-direction-column{
  margin-left: 13%;
  margin-right: 13%;
}